// AQUI PONEN SUS CREDENCIALES DE LA BD
DB_PASSWORD=123123
DB_NAME=umlback
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres

JWT_SECRET=M0nTalV0s3c0meL0sMOcoz

// ESTE ES UN CORREO QUE CREE PARA PROBAR EL ENVIO DE CORREOS
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
MAILER_USER=umlbackend@gmail.com
MAILER_PASSWORD=rhos hltq ncif fluf
